<div *ngIf="editableNote">
  <form [formGroup]="noteForm" #nForm="ngForm" novalidate>
    <div class="form-group">
      <label for="title">Title<span class="red">*</span></label>
      <input type="text" class="form-control" id="title" placeholder="Test" formControlName="title">
      <div *ngIf="formErrors.title" class="ui-message ui-messages-error ui-corner-all errorStyle">
          {{ formErrors.title }}
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description<span class="red">*</span></label>
      <textarea type="text" rows="7" class="form-control" id="description" formControlName="desc"
       placeholder="This is test note"></textarea>
      <div *ngIf="formErrors.desc" class="ui-message ui-messages-error ui-corner-all errorStyle">
          {{ formErrors.desc }}
      </div>
    </div>
    <div style="float: right">
      <button type="submit" id="addNote" class="btn btn-primary" [disabled]="!noteForm.valid" (click)="submitNote(nForm.value)">Submit</button>
    </div>  
  </form>
</div>
<div *ngIf="!editableNote">
  <div>
    <p id="showNote">{{currentDate | date: 'MMMM d, y, h:mm a'}}</p>
    <h4 id="noteTitle">{{selectedNote?.title}}</h4>
    <p id="noteDescription">{{selectedNote?.desc}}</p>
  </div>
</div>